{% extends "page_template.html" %}
	{% block head %}
		<!-- Add jQuery library -->
		
		<!-- Add mousewheel plugin (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<!-- Add fancyBox main JS and CSS files -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
		<!-- Add Button helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<!-- Add Thumbnail helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<!-- Add Media helper (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

		<link href="/static/css/upload_design.css" rel="stylesheet" type="text/css">
		<!--  <script type="text/javascript" src="/static/javascript/jquery-1.11.1.min.js"></script>-->
		 <script type="text/javascript" src="/static/javascript/upload_design.js"></script>
		 
		<!--  script src="/static/javascript/validation/lib/jquery.js" type="text/javascript"></script> -->
		<script src="/static/javascript/validation/dist/jquery.validate.js" type="text/javascript"></script>
		<link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		
	
	{% endblock %}
	{% block header_panel %}
		<a style="float:left" class="icon-button" id="backIconID" href="/user/viewParentCategories"><span class="ui-icon ui-icon-arrowthick-1-w"></span></a>
	{% endblock %}
	{% block center_panel %}	
	<!-- Main Form -->
	<form action="{{ upload_url }}" method="post" enctype="multipart/form-data" id="probeForm">
		<table>
			{% import 'forms.html' as forms %}
			<tr>
				<td>Category Name</td>
				<td>
					{{ forms.input(ParentCategory.name, required=False, read_only=False) }}
				</td>
			</tr>

		</table>
		<input style="margin-top:20px" class="small-button" type="submit" value="Submit" />
	</form>
	<script>
		$("#probeForm").validate();
		$('input[type=submit]').button();
		$('#selectAssocLinkID').button();
		$('#backIconID').button();
	</script>
	{% endblock %}
