{% extends "page_template.html" %}
	{% block head %}
		<link rel="stylesheet" href="/static/css/custom-clean/jquery-ui-1.10.4.custom.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<script src="/static/javascript/jquery-1.11.1.min.js"></script>
		<script src="/static/javascript/jquery-ui-1.10.4.custom.min.js"></script>
	{% endblock %}
	{% block center_panel %}	
		<form action="../user/viewParentCategories">
    		<input type="submit" class="button" value="View Categories">
		</form>
		<form action="../user/viewDogs">
    		<input type="submit" class="button" value="View Dogs">
		</form>
		<form action="../user/viewUsers">
    		<input type="submit" class="button" value="View Users">
		</form>
			<form action="../user/viewEntries">
    		<input type="submit" class="button" value="View Entries">
		</form>
		<script>
			$(function(){
				$('.button').button();
			});
			
		</script>
	{% endblock %}
