<html>
<head>
    <title>TrainingDB</title>
    
	<link rel="stylesheet" href="/static/css/custom-clean/jquery-ui-1.10.4.custom.css">
	<link href="/static/css/page_template.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="/static/javascript/fancybox/lib/jquery-1.10.1.min.js"></script>
	<script src="/static/javascript/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/static/javascript/page_template.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
	<div class="center_panel" >
		{% block header_panel %}
		{% endblock %}
		<h1 class="header" style="font-family:Helvetica;align:center">TrainingDB</h1>
		{% block center_panel %}
		{% endblock %}
	</div>
	<div class="userPanel" id="userPanel">
		<table id="userTable" style="table-layout:fixed">
			<tr>
				<td><strong>Username:</strong></td><td id="userNameColumn">{{ user_name }}</td>
			</tr>
			<tr>
				<td><strong>Access Level:</strong></td><td id="accessType">{{ permissions }}</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<form action="{{ sign_out_url }}">
					    <input class="smaller-button" id="sign_out_button" type="submit" value="Sign Out">
					</form>
				</button></td>
			</tr>
		</table>
		<div class="special"><a id="collapseButton" class="linkButton"><span class="ui-icon ui-icon-circle-minus" id="spanIcon"></span></a></div>
	</div>
	<script>
		$('#sign_out_button').button();
		console.log('initializing button link');
		function hideDiv()
		{
			console.log("Setting: " + $('#userPanel').width());
			$.data(this, 'width', $('#userPanel').width() + 10);
			$.data(this, 'height', $('#userPanel').height());
			$('#userTable').hide(700);
			$('#userPanel').animate({width:"20px", height:"20px"},700, "swing", function()
			{
				$('#spanIcon').removeClass('ui-icon-circle-minus').addClass('ui-icon ui-icon-circle-plus');
			});
		}
		function showDiv()
		{
			console.log('showFunction called');
			$('#userTable').show(700);
			console.log("Retrieving: " + $(this).data('width'));
			$('#userPanel').animate({width:$(this).data('width'), height:$(this).data('height')},700, "swing", function()
			{
				$('#spanIcon').removeClass('ui-icon-circle-plus').addClass('ui-icon ui-icon-circle-minus');
			});
		}
		function divCallBack(event)
		{
			console.log(event.data.isCollapsed);
			if (event.data.isCollapsed == true)
			{
				showDiv();	
				$('#collapseButton').off("click");
				$('#collapseButton').click({isCollapsed: false},divCallBack);
			}
			else
			{
				hideDiv();
				$('#collapseButton').off("click");
				$('#collapseButton').click({isCollapsed: true},divCallBack);
			}

		}
		$('#collapseButton').click({isCollapsed: false},divCallBack)
			/*
			$('#userPanel').hide(1000,function(){
				window.alert('Animation complete');
			});
			*/
	</script>
</body>
</html>