{% extends "page_template.html" %}
	{% block head %}
		<!-- Add jQuery library -->
		
		<!-- Add mousewheel plugin (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<!-- Add fancyBox main JS and CSS files -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
		<!-- Add Button helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<!-- Add Thumbnail helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<!-- Add Media helper (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

		<link href="/static/css/upload_design.css" rel="stylesheet" type="text/css">
		<!--  <script type="text/javascript" src="/static/javascript/jquery-1.11.1.min.js"></script>-->
		 <script type="text/javascript" src="/static/javascript/upload_design.js"></script>
		 
		<!--  script src="/static/javascript/validation/lib/jquery.js" type="text/javascript"></script> -->
		<script src="/static/javascript/validation/dist/jquery.validate.js" type="text/javascript"></script>
		<link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		
	
	{% endblock %}
	{% block header_panel %}
		<a style="float:left" class="icon-button" id="backIconID" href="/user/viewSubCategories?parent_category_id={{ parent_category_id }}"><span class="ui-icon ui-icon-arrowthick-1-w"></span></a>
	{% endblock %}
	{% block center_panel %}	
	<!-- Main Form -->
	<form action="{{ upload_url }}" method="post" enctype="multipart/form-data" id="probeForm">
		<table id="myTable">
			{% import 'forms.html' as forms %}
			<tr>
				<td>Parent ID</td>
				<td>
					{{ forms.input(SubCategory.parent_category_id, required=False, read_only=True, value=parent_category_id) }}
				</td>
				<td></td>
			</tr>
			<tr>
				<td>SubCategory ID</td>
				<td>
					{{ forms.input(SubCategory.id, required=False, read_only=True, value=sub_category_id) }}
				</td>
				<td></td>
			</tr>
			<tr>
				<td>Category Name</td>
				<td>
					{{ forms.input(SubCategory.name, read_only=False, value=sub_category_name) }}
				</td>
				<td></td>
			</tr>
			{% for question in plan %}
				<tr class="question">
					<td><strong>Question</strong></td>
					<td style='background-color:#ECECEC' class='text'>{{ question['name'] }}</td>
					<td><button type='button' onclick='deleteQuestion(this);'>Delete</button></td>
				</tr>
				{% for answer in question['answers'] %}
					<tr class='answer'>
						<td></td>
						<td class='text'>{{ answer }}</td>
						<td><button type='button' onclick='deleteAnswer(this);'>Delete</button></td>
					</tr>
				{% endfor %}
				<tr class='answerControls'>
					<td></td>
					<td><input type='text' class='answerInput' /></td>
					<td><button id='someID' type='button' onclick='addAnswer(this);'>Add</button></td>
			{% endfor %}
			<tr style="margin-top:30px" id="addQuestionRow">
				<td></td>
				<td><input type="text" name="name" id="question_box"/></td>
				<td><button type="button" onclick="addQuestion()">Add Question</button>
			</tr>
		</table>
		<input style="margin-top:20px" class="small-button" type="button" onclick="submitForm();" value="Submit" />
	</form>
	<script>
		$("#probeForm").validate();
		$('input[type=submit]').button();
		$('#selectAssocLinkID').button();
		$('#backIconID').button();
		$('#addQuestionRow').find(':text').keyup(function(event){
			if(event.keyCode == 13){
				$('#addQuestionRow').find(':button').click();
			}
		});
		function deleteQuestion(caller){
			var questionRow = $(caller).closest('tr');
			window.myEl = questionRow;
			var answerControl = $(questionRow).nextUntil('.answerControls').last().next();
			if(answerControl.length == 0){
				answerControl = $(questionRow).next();
			}
			$(questionRow).nextUntil('.answerControls').andSelf().each(function(index, row){
				$(row).remove();
			});
			answerControl.remove();
		}
		function deleteAnswer(caller){
			$(caller).closest('tr').remove();
		}
		function addQuestion(){
			var questionText = $('#question_box').val()
			$('#question_box').val('');
			if (questionText.replace(/\s+/, "") == ""){
				window.alert("Invalid Question");
				return;
			}
			var questionRow = $([
					"<tr class='question'>",
						"<td><strong>Question</strong></td>", 
						"<td style='background-color:#ECECEC' class='text'>" + questionText + "</td>",
						"<td><button type='button' onclick='deleteQuestion(this);'>Delete</button></td>", 
					"</tr>",
					].join('\n'));
			var answerControlsRow = $([
			        "<tr class='answerControls'>",
						"<td></td>",
						"<td><input type='text' class='answerInput' /></td>",
						"<td><button id='someID' type='button' onclick='addAnswer(this);'>Add</button></td>",
					"</tr>"
					].join('\n'));
			
			$(answerControlsRow).find(':text').keyup(function(event){
			    if(event.keyCode == 13){
			        $(answerControlsRow).find(':button').click();
			    }
			});
			
			$('#myTable > tbody > tr:last').before(questionRow);
			$('#myTable > tbody > tr:last').before(answerControlsRow);
		}
		function addAnswer(caller){
			var answerText = $(caller).closest('tr').find('.answerInput').val();
			$(caller).closest('tr').find('.answerInput').val("");
			if (answerText.replace(/\s+/, "") == ""){
				window.alert("Invalid Answer");
				return;
			}
			var answerRow = $([
			        "<tr class='answer'>",
						"<td></td>",
						"<td class='text'>" + answerText + "</td>",
						"<td><button type='button' onclick='deleteAnswer(this);'>Delete</button></td>",
					"</tr>"
					].join('\n'));
			$(caller).closest('tr').before(answerRow);
		}
		function submitForm(){
			var questions = new Array();
			var index = 0;
			$('.question').each(function(elementIndex, questionRow){
				var questionText = $(questionRow).find('.text').html();
				console.log("Question: " + questionText);
				var question = new Object();
				question.name = questionText;
				var answers = new Array();
				$(questionRow).nextUntil('.answerControls').each(function(index, answerRow){
					var answerText = $(answerRow).find('.text').html();
					answers[index] = answerText;
				});
				if (answers.length > 0){
					question.answers = answers;
					question.type = 's';
				}
				else {
					question.type = 'c';
				}
				questions[index] = question;
				++index;
			});
			console.log(questions);
			if (questions.length == 0){
				window.alert('No answers to submit');
				return;
			}
			parent_id = $('#parent_category_id').val();
			id = $('#id').val();
			cat_name = $('#name').val();
			$.post("/user/updateSubCategory",
					{parent_category_id: parent_id,
					id: id,
					name: cat_name,
					plan: JSON.stringify(questions)},
					function(data, textStatus, jqXHR){
						console.log(data);
						if (data == "success"){
							window.location.href = "/user/viewSubCategories?parent_category_id=" + $('#parent_category_id').val();
						}
						else{
							window.alert('Error connecting to server: ' + data);
						}
					}).fail(function(jqXHR, textStatus, errorThrown) 
							{
								alert("Unable to connect to server");
							});

		}
	</script>
	{% endblock %}
