{% extends "page_template.html" %}
	{% block head %}
		 <link href="/static/css/view_designs.css" rel="stylesheet" type="text/css">
		 <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		 <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		 <script type="text/javascript" src="/static/javascript/view_entries.js"></script>
		 <script type="text/javascript" src="/static/javascript/jquery.filtertable.min.js"></script>
		 <script type="text/javascript" src="/static/javascript/jquery.dataTables.js"></script>
		<!-- Add mousewheel plugin (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<!-- Add fancyBox main JS and CSS files -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
		<!-- Add Button helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<!-- Add Thumbnail helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<!-- Add Media helper (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
	{% endblock %}
	{% block header_panel %}
		<a style="float:left" class="icon-button" id="backIconID" href="/"><span class="ui-icon ui-icon-arrowthick-1-w"></span></a>
		{% if visible %}
			<a style="float:right" class="toggleVisibilityLink" href="{{ URIProvider.view_deleted_entries() }}">View Deleted</a>
		{% else %}
			<a style="float:right" class="toggleVisibilityLink" href="{{ URIProvider.view_entries() }}">View Non-Deleted</a>
		{% endif %}
	{% endblock %}
	{% block center_panel %}	
	<script type="text/javascript" src="/static/javascript/view_designs.js"></script>

	<a id="selectAssocLinkID" class="fancybox icon-button" rel="group" href="#data" alt=""></a>	                                  
	<table id="myTable" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				{% for field in FIELDS %}
					<th align="left">{{ COMMON[field]|safe }}</th>
				{% endfor %}
				<th align="left">Plan</th>
				{% if visible %}
					<th align="left">Delete</th>
				{% else %}
					<th align="left">Restore</th>
				{% endif %}
			</tr>			
		</thead>
		<tfoot>
			<tr>
				{% for field in FIELDS %}
					<th align="left">{{ COMMON[field]|safe }}</th>
				{% endfor %}
				<th align="left">Plan</th>
				{% if visible %}
					<th align="left">Delete</th>
				{% else %}
					<th align="left">Restore</th>
				{% endif %}
			</tr>			
		</<tfoot>
		<tbody>
			{% for entry in entries %}
				{% for field in FIELDS %}
					<td align="left" id="{{ field }}">{{ entry[field] }}</td>
				{% endfor %}
				<td><a align="center" class="fancybox" onclick="viewEntryPlan({{ entry['id'] }});" href="#data">View Plan</a></td>
				{% if visible %}
					<td><a href="{{ URIProvider.delete_entry(entry['id']) }}" align="left" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a></td>
				{% else %}
					<td><a href="{{ URIProvider.restore_entry(entry['id']) }}" align="left" onclick="return confirm('Are you sure you want to restore this entry?  If entry does not delete, the entry is a planned event and (1) The subcategory has since been modified or (2) There is another plan for that subcategory - first delete that other entry')">Restore</a></td>
				{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
 	<div style="display:none;"><div id="data">
 		<table id="planTable" class="display" cellspacing="0" width="100%">
 			<thead>
 				<tr><th align="left">Question</th><th align="left">Answer</th></tr> 
 			</thead>
 			<tfoot>
 				<tr><th align="left">Question</th><th align="left">Answer</th></tr> 
 			</tfoot>
 			<tbody id="planTableBody" style="padding:5px;">
					<td>Dummy Question?</td><td>Dummy Answer</td>
 			</tbody>
 		</table>
 		<script type="text/javascript" src="/static/javascript/jquery.dataTables.js"></script>
 	</div></div>
	<script>
		$('#backIconID').button();
		$('.button').button();
		
		function viewEntryPlan(id){
			$('#planTableBody').empty();
			$.post("/user/getPlanForEntry",
					{entry_id: id},
					function(data, textStatus, jqXHR)
					{
						console.log(data);
						questions = $.parseJSON(data);
						$.each(questions, function(index, question){
							var row = $(document.createElement('tr'));
							var answerText = "";
							if (question.type == "c"){
								answerText = question.answer == "1" ? "True" : "False";
							}
							else{
								answerText = question.answer;
							}
							row.append('<td>' + question.question + "</td><td>" + answerText + "</td>");
							$('#planTableBody').append(row);
						});

					}).fail(function(jqXHR, textStatus, errorThrown) 
					{
						alert("Unable to connect to server");
					});
		}
		
	</script>
	{% endblock %}