{% extends "page_template.html" %}
	{% block head %}
		<!-- Add jQuery library -->
		
		<!-- Add mousewheel plugin (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<!-- Add fancyBox main JS and CSS files -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
		<!-- Add Button helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<!-- Add Thumbnail helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<!-- Add Media helper (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

		<link href="/static/css/upload_design.css" rel="stylesheet" type="text/css">
		<!--  <script type="text/javascript" src="/static/javascript/jquery-1.11.1.min.js"></script>-->
		 <script type="text/javascript" src="/static/javascript/upload_design.js"></script>
		 
		<!--  script src="/static/javascript/validation/lib/jquery.js" type="text/javascript"></script> -->
		<script src="/static/javascript/validation/dist/jquery.validate.js" type="text/javascript"></script>
		<link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		
	
	{% endblock %}
	{% block header_panel %}
		<a style="float:left" class="icon-button" id="backIconID" href="/user/viewSubCategories?parent_category_id={{ parent_category_id }}"><span class="ui-icon ui-icon-arrowthick-1-w"></span></a>
	{% endblock %}
	{% block center_panel %}	
	<!-- Main Form -->
	<table id="myTable" border="1">
		<tr>
			<td>Category Name &nbsp&nbsp&nbsp</td>
			<td>{{ sub_category_name }}</td>
		</tr>
		{% for question in plan %}
			<tr class="question">
				<td><strong>{{ question['name'] }}</strong></td>
				<td>
					<ul>
						{% for answer in question['answers'] %}
							<li>{{ answer }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</table>
	<script>
		$('#backIconID').button();
		$('.button').button();

	</script>

	{% endblock %}
