{% extends "page_template.html" %}
	{% block head %}
		 <link href="/static/css/view_designs.css" rel="stylesheet" type="text/css">
		 <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		 <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
		 <script type="text/javascript" src="/static/javascript/view_designs.js"></script>
		 <script type="text/javascript" src="/static/javascript/jquery.filtertable.min.js"></script>
		 <script type="text/javascript" src="/static/javascript/jquery.dataTables.js"></script>
		<!-- Add mousewheel plugin (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<!-- Add fancyBox main JS and CSS files -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
		<!-- Add Button helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<!-- Add Thumbnail helper (this is optional) -->
		<link rel="stylesheet" type="text/css" href="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<!-- Add Media helper (this is optional) -->
		<script type="text/javascript" src="/static/javascript/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
	{% endblock %}
	{% block header_panel %}
		<a style="float:left" class="icon-button" id="backIconID" href="/"><span class="ui-icon ui-icon-arrowthick-1-w"></span></a>
		{% if visible %}
			<a style="float:right" class="toggleVisibilityLink" href="{{ URIProvider.view_deleted_users() }}">View Deleted</a>
		{% else %}
			<a style="float:right" class="toggleVisibilityLink" href="{{ URIProvider.view_users() }}">View Non-Deleted</a>
		{% endif %}
	{% endblock %}
	{% block center_panel %}	
	<script type="text/javascript" src="/static/javascript/view_designs.js"></script>

	<a id="selectAssocLinkID" class="fancybox icon-button" rel="group" href="#data" alt=""></a>	                                  
	<table id="myTable" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				{% for field in FIELDS %}
					<th align="left">{{ COMMON[field]|safe }}</th>
				{% endfor %}
				<th align="left">Update</th>
				{% if visible %}
					<th align="left">Delete</th>
				{% else %}
					<th align="left">Restore</th>
				{% endif %}
			</tr>			
		</thead>
		<tfoot>
			<tr>
				{% for field in FIELDS %}
					<th align="left">{{ COMMON[field]|safe }}</th>
				{% endfor %}
				<th align="left">Update</th>
				{% if visible %}
					<th align="left">Delete</th>
				{% else %}
					<th align="left">Restore</th>
				{% endif %}
			</tr>			
		</<tfoot>
		<tbody>
			{% for user in users %}
				{% for field in FIELDS %}
					<td align="left" id="{{ field }}">{{ user[field] }}</td>
				{% endfor %}
				<td><a align="center">Update</a></td>
				{% if visible %}
					<td><a href="{{ URIProvider.delete_user(user['id']) }}" align="left" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a></td>
				{% else %}
					<td><a href="{{ URIProvider.restore_user(user['id']) }}" align="left" onclick="return confirm('Are you sure you want to restore this user?')">Restore</a></td>
				{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$('#backIconID').button();
		$('.button').button();

	</script>
	{% endblock %}