@CHARSET "ISO-8859-1";

body
{
	background-color: #F9F9F9;
}
.center_panel
{
	background-color: #FFFFFF;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:5px;
	horizontal-align: center;
	padding-top: 30px;
	padding-bottom:100px;
	text-align: center;
	box-shadow: 0px 0px 1px 1px #8D8D8D;
}
input.search {
    width: 30em;  height: 2em;
}
.button
{
	width: 17em;
	height: 2em;
	margin-top: 5px;
	margin-bottom: 5px;
}