@CHARSET "ISO-8859-1";


h1{
	padding-top:30px;
}
.small-button {
   font-size: .8em !important;
}
.smaller-button{
	font-size: 0.6em !important;
}
.smallest-button{
	font-size: 0.3em !important;
	padding: -1px !important;
}
.icon-button {
	font-size: 0.4em !important;
}
.userPanel{
	position:fixed;
	top:10px;
	right:10px;
	background-color: #FFFFFF;
	text-align: center;
	box-shadow: 0px 0px 1px 1px #8D8D8D;
}
.special{
	position:absolute;
	bottom:-5px;
	left:-5px;	
}
.linkButton:hover{
	cursor: pointer;
}
#userTable td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.toggleVisibilityLink{
	margin: 5px;
}

