 table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    cell-padding: 2px;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

body
{
	background-color: #F9F9F9;
}
.center_panel
{
	background-color: #FFFFFF;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:0px;
	horizontal-align: center;
	padding-bottom:100px;
	text-align: center;
	box-shadow: 0px 0px 1px 1px #8D8D8D;
}
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
.datagrid a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.datagrid a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.datagrid a:active,
.datagrid a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.datagrid {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.datagrid th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.datagrid th:first-child {
	text-align: left;
	padding-left:20px;
}
.datagrid tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.datagrid tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.datagrid tr {
	text-align: center;
	padding-left:20px;
}
.datagrid td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.datagrid td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.datagrid tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.datagrid tr:last-child td {
	border-bottom:0;
}
.datagrid tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.datagrid tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.datagrid tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}