 table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    cell-padding: 2px;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

body
{
	background-color: #F9F9F9;
}
.center_panel
{
	background-color: #FFFFFF;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:0px;
	horizontal-align: center;
	padding-bottom:100px;
	text-align: center;
	box-shadow: 0px 0px 1px 1px #8D8D8D;
}
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
